<div layout layout-wrap layout-align="center start">
  <md-button class="md-raised md-primary" ui-sref="index.search({ searchValue: searchValue })">Voltar</md-button>
</div>   

<md-content id="content-details" layout-padding class="md-padding" layout  layout-wrap layout-align="center start">

  <md-card layout-padding layout-wrap="center center" flex-xs="100" flex-sm="80" flex-gt-xs="50">
    
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">
          Detalhes do filme {{dataDetails.Title}}
        </span>
      </md-card-title-text>
    </md-card-title>


    <md-card-content>
      <div layout-wrap layout-align="start start">
        <img src="{{dataDetails.Poster}}" class="md-card-image" width="180px" imageloader>
      </div>

      <md-list ng-cloak>
        <md-list-item ng-repeat="key in itemKeys">
          <spam>{{key}}: </spam>
          <span><strong> {{ dataDetails[key]}} </strong></span>
        </md-list-item>
      </md-list>  

    </md-card-content>  

    <errormessage></errormessage>

    
  </md-card>
</md-content>  