
<div ng-controller="ListCtrl"  class="height-full">
  <loading class="ng-hide">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </loading>

  <md-content id="content-home"  class="height-full">
    <section class="height-full">

      <div class="form-warp" layout="row" formsearch  layout-align="center center">

          <form name="SearchForm" ng-submit="search(name)" layout="row" flex="80" flex-gt-xs="50">

            <div flex="100">
              <md-input-container class="md-block">
                <input name="name" required type="text" ng-model="name" placeholder="procure seu filme">
                <div ng-messages="SearchForm.name.$error">
                  <div ng-message="required">Por favor preencha o campo de busca!</div>
                </div>
              </md-input-container>
            </div>

            <div>
              <button type="submit" class="md-fab md-mini md-primary md-button md-ink-ripple" aria-label="Buscar">
                <i class="material-icons">search</i>
              </button>
            </div>

          </form>

      </div>

      <div layout layout-align="center center">
        <ul layout-gt-xs="row" layout-wrap="" layout-align="center center" class="list-wrap" flex-gt-md="70">
          <li tooltippreview ng-repeat="film in currentList" flex-xs="100" flex-sm="50" flex-gt-xs="30" layout layout-align="center center" class="item-wrap tooltip-hide">

            <div class="item">
              <img src="{{film.Poster}}" imageloader>

              <md-card class="tooltip-tpl">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{film.Title}}</span>
                    <span class="md-subhead">{{film.Year}}</span>
                    <span class="md-subhead">{{film.imdbID}}</span>
                    <span class="md-subhead">{{film.Type}}</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between" class="layout-align-space-between-stretch layout-row">
                  <div layout layout-wrap layout-align="center start">
                    <md-button class="md-raised md-primary" ui-sref="details({ filmId: film.imdbID, searchValue: searchValue })"> +Info</md-button>
                  </div>
                </md-card-content>
              </md-card>
            </div>

          </li>
        </ul>
      </div>

      <div layout="row" layout="column" layout-align="center center">
        <errormessage></errormessage>
      </div>

      <loadmore class="ng-hide">
        <div layout layout-wrap layout-align="center start">
          <md-button class="md-raised md-primary" ng-click="loadMore()"> Carregar mais</md-button>
        </div>
      </loadmore>

    </section>
  </md-content>

</div>
