
.height-full
  height: 100%

.md-fab
  position: relative

  i
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    font-weight: bold

.form-warp
  height: 100%
  transition: height 0.7s ease-out

  &.searched
    height: 135px

.list-wrap
  padding: 0
  margin: 0

.item-wrap

  .item
    width: 250px
    margin: 10px
    position: relative

  img
    width: 100%
    height: auto
    border: solid 1px #999

  &.tooltip-hide
    .tooltip-tpl
      display: none

.tooltip-tpl
  position: absolute
  top: 50%
  left: 50%
  width: 90%
  transform: translate(-55%, -54%)
  background-color: rgba(0,100,255,0.8)
  color: #fff
  border-radius: 10px
